html, body {
  font-family: 'Lora', serif;
  font-weight: 600;
  font-size: 1.8vw;
  letter-spacing: 0.1vw;
  margin: 0;
  padding: 0;
  background: black;
  animation: body 20s infinite;
  overflow-x: hidden;
}

.extendedFont {
  font-family: 'Asset', cursive;
  letter-spacing: 0.5vw;
  font-size: calc(2.8vw - 1px );
  line-height: 4.5vw;
  color: #006f45 !important;
  position: relative;
}


.transparentfont {
  color: transparent;
}

.extendedFont:before {
  position: absolute;
  left: 0;
  color: black !important;
}

.extendedFont.musk:before {
  content: 'Musketon';
}
.extendedFont.ship:before {
  content: 'Ship Of Fools';
}
.extendedFont.fred:before {
  content: 'Fred';
}
.extendedFont.milk:before {
  content: 'Milk & Coockies';
}
.extendedFont.nocomp:before {
  content: 'NøComputer';
}


.blackletter {
  font-family: "ironwood-std";
  font-style: normal;
  font-weight: 400;
  position: relative;
}

.title:before {
  font-family: "ironwood-std";
  font-style: normal;
  font-weight: 400;
  content: 'B O U T I Q U E';
  color: black;
  position: absolute;
  z-index: 0;
  left: 0.2vw;
}

.title {
  font-size: calc( 9vw - 1px );
  padding: 0;
  margin: 0;
  line-height: 9vw;
  color: yellow;
}

.colOne {
  color: black;
}
.colTwo {
  color: white;
}

.box1, main, .box3, .box4 {
  height: 36vw;
  width: 36%;
  float: left;
  padding: 2%;
  position: relative;
}

.box1 {
  background: white;
}

main {
  background: green;
  width: 60%;
  /* overflow: hidden; */
  height: 40vw;
  /* overflow-x: scroll; */
  padding: 0;
}

.images {
  width: 100vw;
  background: blue;
}

.images img {
  float: left;
  height: 100%;
  padding: 3px;
}

.box3 {
  background: yellow;
  width: 96%;
  height: auto;

  animation: boxwaves 20s infinite;
  animation-direction: alternate;
}
.box4 {
  height: auto;
  width: 96%;

}

.outline {

}

.indent {
  margin-left: 4.9vw;
  font-family: 'Asset', cursive;
  font-weight: 900;
  color: #006f45;
  font-size: 1.5vw;
  letter-spacing: 0.5vw;
}

.links {
  z-index: 1;
}

.links a{
  text-decoration: none;
}

p.glitchAbout {
  position: relative;
  color: transparent;
  -webkit-background-clip: text;
}

p.glitchAbout:before{
  content:"A NETWERK OF CREATIVES, TEAMING UP TO MAKE THE BORING STUFF EASIER — THIS WAY WE ARE ABLE TO PUT ALL OUR ENERGY IN CREATING THINGS - INDIVIDUALLY, AS WELL AS TOGETHER.";
  position: absolute;
  top: 0;
  z-index: 1;
  text-shadow: 5px 5px 0px black;
  animation: waves 20s infinite;
  animation-direction: alternate;
}


@keyframes waves {
  0%   { text-shadow: 5px 5px 0px black; }
  0.5%   { text-shadow: 5px 5px 5px black; }
  1%   { text-shadow: 5px 5px 0px black; }
  2%   { text-shadow: 5px 5px 0px black; }
  3%   { text-shadow: 5px 5px 8px yellow; }
  4%   { text-shadow: 5px 5px 0px black; }
}

@keyframes boxwaves {
  0%   { box-shadow: 0px -15px 10px 10px yellow; }
  0.5%   { box-shadow: 0px 45px 35px 20px yellow; }
  1%   { box-shadow: 0px -35px 10px 10px yellow; }
  2%   { box-shadow: 0px -55px 10px 10px white; background: white;}
  3%   { box-shadow: 0px -15px 10px 10px yellow; background: yellow;}
  4%   { box-shadow: 0 0 0 0 yellow; }
}

.blue-glitch-line {
  background: blue;
  height: 0vh;
  width: 100vw;
  z-index: 1000;
  position: absolute;
  animation: glitchLine 20s infinite;
}

@keyframes glitchLine {
  0%   { top: 10vh; opacity: 0.1; height: 2vh }
  0.5%   { top: 14vh; opacity: 0.3; height: 7vh }
  1%   { top: 17vh; opacity: 0.1; height: 12vh }
  2%   { top: 57vh; opacity: 0.4; height: 1vh }
  3%  { top: 60vh; opacity: 0.01; height: 50vh }
  4%  { top: 100vh; opacity: 0.3; height: 1vh }
  5%  { top: 105vh; opacity: 0; height: 0vh }
}

@keyframes body {
  0%   { margin: 0 0 0 5px; }
  0.5%   { margin: 0 5px 0 0; }
  1%   { margin: 0 0 0 0; }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: calc( 23vw - 1px );
    line-height: 20vw;
  }

  .indent {
    font-size: 2.5vw;
  }

  .box1, main, .box3, .box4 {
    width: 96vw;
  }

  .box1 {
    height: 55vw;
  }

  main {
    width: 100vw;
    height: 70vw;
  }

  p.glitchAbout{
    font-size: 3vw;
  }
}
