html, body {
  font-family: "ff-more-web-pro-condensed";
  font-weight: 600;
  font-size: 1.8vw;
  letter-spacing: 0.1vw;
  margin: 0;
  padding: 0;
  background: black;
}

.extendedFont {
  font-family: 'Rubik Mono One', sans-serif;
  letter-spacing: 0.2vw;
  font-size: 3.2vw;
  line-height: 4.5vw;
  color: black !important;
}

.blackletter {
  font-family: "ironwood-std";
  font-style: normal;
  font-weight: 400;
}
.title {
  font-size: 10.8vw;
  padding: 0;
  margin: 0;
  line-height: 8vw;
}

.colOne {
  color: black;
}
.colTwo {
  color: white;
}

.box1, main, .box3, .box4 {
  height: 36vw;
  width: 36vw;
  float: left;
  padding: 2vw;
}

.box1 {
  background: white;
}

main {
  background: green;
  width: 60vw;
  /* overflow: hidden; */
  height: 40vw;
  /* overflow-x: scroll; */
  padding: 0;
}

.images {
  width: 100vw;
  background: blue;
}

.images img {
  float: left;
  height: 100%;
  padding: 3px;
}

.box3 {
  background: yellow;
  width: 96vw;
  height: auto;
}
.box4 {
  height: auto;
  width: 96vw;

}

.outline {

}

.indent {
  margin-left: 4vw;
  font-family: Helvetica;
  font-weight: 900;
  color: blue;
}

.links {
  z-index: 1;
}

.links a{
  text-decoration: none;
}

p.glitchAbout {
  position: relative;
  color: transparent;
  -webkit-background-clip: text;
}

p.glitchAbout:before{
  content:"A NETWERK OF CREATIVES  ————————— TEAMING UP TO MAKE THE BORING STUFF EASIER ———————————————————— AND THIS WAY WE ARE ABLE TO PUT ALL OUR ENERGY IN CREATING THINGS ————— INDIVIDUALLY AS WELL AS TOGETHER.";
  position: absolute;
  top: 0;
  z-index: 1;
  text-shadow: 5px 5px 0px black;
  animation: waves 5s infinite;
  animation-direction: alternate;
}


@keyframes waves {
  0%   { text-shadow: 5px 5px 0px black; }
  2%   { text-shadow: 5px 5px 5px black; }
  4%   { text-shadow: 5px 5px 0px black; }
  8%   { text-shadow: 5px 5px 0px black; }
  12%   { text-shadow: 5px 5px 8px yellow; }
  16%   { text-shadow: 5px 5px 0px black; }
}
